name: Test Action
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test action
        uses: ./
        with:
          registry: ghcr.io
          image-name: ${{ github.repository }}/test-app
          tags: test
          push: "false"
